<nav>
    <div class="nav-wrapper">
        <a href="/" class="brandtitle brand-logo">
            <img class="logo" src="assets/img/logo.png">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul class="left hide-on-med-and-down">
            <li>
                <a href="/ew">
                    <img class="ewemoji" src="assets/img/emojis/ewemoji.png">
                </a>
            </li>
            <li>
                <a href="/bff">
                    <img class="bffsemoji" src="assets/img/emojis/bffs.png">
                </a>
            </li>
            <li>
                <a href="/lol">
                    <img class="lolemoji" src="assets/img/emojis/lolemoji.png">
                </a>
            </li>
            <li>
                <a href="/nsfw">
                    <img class="nsfwemoji" src="assets/img/emojis/nsfwemoji.png">
                </a>
            </li>
            <li class="active">
                <a href="/fail">
                    <img class="failemoji" src="assets/img/emojis/failemoji.png">
                </a>
            </li>
            <li>
                <a href="/wtfam">
                    <img class="wtfemoji" src="assets/img/emojis/wtfemoji.png">
                </a>
            </li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/halloffame">
                    <img class="fameemoji" src="assets/img/emojis/fameemoji2.png">
                </a>
            </li>
            <li>
                <a href="/hallofshame">
                    <img class="shameemoji" src="assets/img/emojis/shameemoji2.png">
                    </i>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="door modal-trigger" data-target="modalsignout" src="assets/img/emojis/door.png">
                </a>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li>
        <a href="/ew">EW</a>
    </li>
    <li>
        <a href="/bff">BFF</a>
    </li>
    <li>
        <a href="/lol">LOL</a>
    </li>
    <li>
        <a href="/nsfw">NSFW</a>
    </li>
    <li>
        <a href="/fail">FAIL</a>
    </li>
    <li>
        <a href="/wtfam">WTFam</a>
    </li>
    <li>
        <a href="/halloffame">Hall Of Fame</a>
    </li>
    <li>
        <a href="/hallofshame">Hall Of Shame</i>
        </a>
    </li>
    <li>
        <a class="modal-trigger" data-target="modalsignout" href="#modalsignout">Sign Out</i>
        </a>
    </li>
</ul>

<div class="wrapper">
    <div class="row">
        <div class="col s6 m12 l12 failcategory">
            <img class="faillong categorylogo" src="assets/img/emojis/faillong.png" alt="fail logo">
        </div>
        <div class="row">
            <h4 class="categorytext col xs12">TBH how could you NOT screenshot fails this epic?</h4>
        </div>
        <div class="col s6 col m6 uploadfile card">
            <div id="drop-area">
                <form class="my-form">
                    <p>Upload your screenshots using the button below, or by dragging and dropping </p>
                    <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
                    <label class="button btn-floating btn-large light-blue lighten-2 waves-effect waves-green waves-ripple addtext" for="fileElem">
                        <i class="material-icons">add</i>
                    </label>

                </form>
                <progress id="progress-bar" max=100 value=0></progress>
                <div id="gallery"></div>
                <button class="btn waves-effect waves-light light-blue lighten-2 waves-green waves-ripple" type="submit" name="action">Submit
                    <i class="material-icons right">file_upload</i>
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col s12 col m12 failtextsdiv">
            <h2>FAIL Texts Feed</h2>
            <div class="failtexts">
            </div>
        </div>
    </div>

    <div id="modalsignout" class="modal modal-close">
        <div class="modal-content">
            <h4>Bye, foo-licia! 👋</h4>
        </div>
    </div>

</div>

<script type="text/javascript" src="assets/javascript/uploadfile.js"></script>
<script type="text/javascript" src="assets/javascript/materializejs.js"></script>