@font-face {
    font-family: "wagner";
    src: url("../img/fonts/Wagner Zip-Change.ttf");
    font-weight: normal;
}

body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.wrapper {
    margin: 0 auto;
    width: 960px;
    flex: 1;
    padding-top: 20px;
}

nav ul li a img:hover {
    opacity:1.0;
    background-color:none!important;
}

nav ul li:hover {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    padding-left: 20px;
    margin-right: 5px;
}

.left {
    padding-left: 90px!important;
}

nav {
    height: 30px;
    line-height: 30px;
    background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 30px;
    line-height: 30px;
}

.whatthetextimg {
    max-width: 30%;
    float: left;
    padding: 10px;
    margin-left: auto;
	margin-right: auto;
    display: block;
}

.everyonestexts, .everyonestextsdiv {
    height: 4000px;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);    
}

nav .button-collapse i {
    height: 30px;
    line-height: 30px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

.brandtitle {
    margin-left: 5px;
}

.ewemoji, .lolemoji, .nsfwemoji, .failemoji {
    height: 60px;
    width: 65px;
    margin-top: 10px;
    margin-left: -5px;
    margin-right: 30px;
}

.bffemoji, .bffsemoji {
    height: 61px;
    width: 64px;
    margin-top: 10px;
    margin-left: -5px;
    margin-right: 30px;
}

.yaasemoji, nopeemoji {
    height: 65px;
    width: 90px;
    margin-right: 30px;
}

.wtfamemoji, .wtfemoji {
    height: 60px;
    width: 80px;
    margin-top: 10px;
    margin-right: 30px; 
}

.fameemoji {
    width: 63px;
    height: 64px;
    margin-top: 8px;
    margin-right: 20px;
}

.door.onuserhome {
    margin-right: 5px;
}

/* 
.fameemoji.onuserhome {
    margin-right: -10px;
} */

.comments {
    display: block;
    height: 370px;
}

.date {
    margin: 10px;
    display: block;
}

.shameemoji {
    width: 73px;
    height: 64px;
    margin-top: 8px;
    margin-right: 20px;
}

.door {
    width: 75px;
    height: 64px;
    margin-top: 7px;
}

.logo {
    height: 70px;
    margin-top: 5px;
}

.signin {
    padding-top: 20px;
}

.signout-center {
    padding-top: 15px;
}

#hof {
    margin-left: 50px;
}

.fbicon, .igicon, .twicon {
    width: 15%;
}

.aboutsite {
    padding-left: 10px!important;
    margin-top: -66px;
    box-shadow: 0 4px 8px 0 rgba(95, 255, 3, 0.2), 0 20px 20px 0 rgba(49, 173, 255, 0.19);
    height: 450px!important;
}

.scrollingtexts img {
    max-width: 50%;
    margin-left: 90px;
    padding-bottom: 30px;
}

.signinupemojis .signuplogoimg, .signinupemojis .signinlogoimg {
    width: 40%;
}


h2, .caption {
    font-family: "wagner";
}

.closerlook {
    padding-top: 15px;
    font-family: "wagner";
}

.specifictext img {
    max-width: 42%;
    margin-left: 130px;
}

.specifictext {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);    
}

.categorytext {
    font-family: "wagner";
}

.categorylogo {
    width: 100%;
}

.aboutwhatthetext {
    font-family: "wagner";
    font-size: 17px;
}

.trending {
    overflow-y: scroll;
    height: 503px;
}

div#wn { 
    position:relative; 
    height:300px; 
    overflow:auto;
}

.welcomebox {
    height: 510px;
    margin-top: -20px;
    box-shadow: 0 4px 8px 0 rgba(95, 255, 3, 0.2), 0 20px 20px 0 rgba(49, 173, 255, 0.19);
}

.jointext {
    margin-top: 10px!important;
    margin-bottom: 50px!important;
}

.signinform {
    padding-top: 30px!important;
    margin-left: -10px!important;
}

.loginbutton {
    margin-top: -10px!important;
    margin-bottom: 20px!important;
}

.socialholder {
    padding-top: 10px;
}

.signupbutton {
    margin-top: -15px!important;
    margin-bottom: 10px;
}

.signinoptionssignup {
    margin-left: 20px;
}

.socialholdersignup {
    margin: 10px 0 0 -10px;
}

ul.tabs {
    width: 70%;
}

.tabs {
    margin-left: -10px;
    box-shadow: 0 4px 8px 0 rgba(3, 184, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tabs .indicator {
    background-color:rgb(10, 233, 58)!important;
  }

.tabs a:hover {
    text-decoration: none;
    background-color: none;
}

a:hover {
    text-decoration: none;
}

.checkbox {
    margin-top: -20px!important;
}

.checkbox-orange[type="checkbox"] + label:before{
    border: 2px solid indigo;
    background: transparent;
}

.emailform {
    margin-top: 30px!important;
}

.usernameform, .passwordform, .repeatpassword {
    margin-top: -18px!important;   
}

#rememberme {
    margin-top: -500px!important;
    margin-bottom: 30px!important;
}

.longlogo {
    width: 59%;
    margin-left: 70px;
    margin-top: -60px;
}

.trending {
    padding: 10px;
}

.textupload img {
    background-color: rgb(240, 240, 240);
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 4px 8px 0 rgba(96, 114, 86, 0.2), 0 10px 20px 0 rgba(49, 173, 255, 0.19);
}

.textcategories {
    padding: 10px 0 10px 0;
}

.textuploadsubmit {
    margin: 5px 0 0 90px!important;
}

.textcategoriesdiv {
    padding-top: 10px!important;
}

.textcategories {
    letter-spacing: 1.8px;
}

#drop-area {
    /* border: 2px dashed #ccc; */
    border-radius: 20px;
    width: 330px;
    font-family: sans-serif;
    padding: 10px;
  }

.addtext {
    margin-top: 7px;
}

#drop-area.highlight {
    border-color: purple;
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
  
.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
.button:hover {
    background: #ddd;
}
  
#fileElem {
    display: none;
}

.everyonestextsdiv, .mytextsdiv {
      background-color: rgb(224, 222, 222);
      height: 600px;
      margin-bottom: 20px;
}

.uploadfile {
    margin-top: 20px;
}

.showmebox {
    padding-left: 20px!important;
    line-height: 50x;
}

.textfeedlogo {
    width: 80%;
    margin-top: 5px;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #23ccff;
}
 
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #23ccff;
}

.commentsarea {
      height: 400px;
}

.commentsonlysdiv {
      height: 400px;
      margin-top: 40px;
      overflow-y: scroll;
}

.formandshare {
    margin-top: 135px
}

.ratingsonlysdiv {
    height: 200px;
}

.specifictext {
      height: 400px;
      background-color: rgb(233, 231, 231);
      padding: 5px;
      box-shadow: 0 4px 8px 0 rgba(95, 255, 3, 0.2), 0 10px 20px 0 rgba(49, 173, 255, 0.19);
}

.postedby {
      padding: 0 0 10px 0;
}

.commentbutton {
    margin-top: 10px;
}

.textsharing {
    width: 40%;
    margin-top: -40px;
    margin-left: 180px;
}

.caption {
    width: 40%;
    margin-top: 2px;
}

.captiononlydiv {
    margin-top: -120px;
}

.hofcategory {
    text-align: center;
}

.nsfwlong, .ewlong, .bfflong, .lollong, .faillong, .wtfamlong {
    width: 80%;
    margin-top: 10px;
    margin-left: 2px;
}

.hoslong, .hoflong {
    width: 60%;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 80px;
        line-height: 30px;
    }
}

@media (min-width:1170px) {

    .tabwrapperdiv {
        position: relative;
    }

    ul.tabs {
        width: 69.6%;
    }

    .uploadfile {
        margin-left: 200px!important;
    }

    .textfeedlogo {
        margin-left: -5px!important;
    }
    
    .tabwrapper {
        position: absolute;
        right: -30px;
        top: -2px;
    }

    .aboutsite {
        margin-top: -20px;
        height: 409px;
    }

    .trending {
        height: 409px;
    }

    .welcomebox {
        margin-top: 27px;
        height: 405px;
    }

    .longlogo {
        width: 110%;
        margin-left: -70px;
        margin-top: -20px;
    }

    .aboutwhatthetext {
        margin-top: 40px;
    }
}

@media (min-width:1201px) {
    .tabwrapperdiv {
        position: relative;
    }

    ul.tabs {
        width: 232%;
    }
    
    .tabwrapper {
        position: absolute;
        right: -30px;
        top: -2px;
    }

    .textfeedlogo {
        margin-left: 250px!important;
    }

    .signupform {
        margin-top: -12px;
    }

    .trending {
        height: 420px;
    }

    .longlogo {
        width: 110%;
        margin-left: -70px;
        margin-top: -20px;
    }

    .categorylogo {
        width: 70%;
    }

    .aboutwhatthetext {
        margin-top: 40px;
    }
}

@media only screen and (min-width : 601px) and (max-width : 700px) {
    .wrapper {
      width: 85%; } 
    }

@media only screen and (max-width : 860px) {
    .uploadfile {
        margin-right: 30px;
    }

    }

@media only screen and (min-width : 993px) and (max-width : 1170px) {

    .uploadfile {
        margin-top: 60px;
    }

    .longlogo {
        margin-top: -100px;
    }


    .trending {
        height: 345px;
    }

    .welcomebox {
        height: 400px;
    }

    .uploadfile {
        margin-left: 200px!important;
        margin-top: -20px;
    }

    .textfeedlogo {
        margin-left: -120px!important;
        width: 60%;
    }

    ul.tabs {
        width: 69.6%;
    }

    .categorylogo {
        width: 70%;
    }

    .longlogo {
        width: 110%;
        margin-left: -70px;
        margin-top: -20px;
    }

    .aboutwhatthetext {
        margin-top: 40px;
    }

}

@media only screen and (max-width : 992px) {
    .wrapper {
        width: 90%; } 

    .textfeedlogo {
        margin-left: 55px;
    }

    .showmebox {
        margin-top: 20px;
    }

    .uploadfile {
        margin-left: 200px!important;
        margin-top: -20px;
    }

    .textfeedlogo {
        margin-left: -20px!important;
    }

    .longlogo {
        width: 110%;
        margin-left: -70px;
        margin-top: -20px;
    }

    .aboutwhatthetext {
        margin-top: 40px;
    }

    .aboutsite {
        margin-top: -70px;
        height: 400px;
    }

    .trending {
        height: 410px;
    }

    .welcomebox {
        height: 400px;
    }
        
    }

@media only screen and (min-width : 801px) {
    .uploadfile {
        margin-right: -50px;
    }

    .showmebox {
        padding-left: 80px!important;
    }


    .trending {
        height: 390px;
    }
}

@media only screen and (min-width : 701px) and (max-width : 800px) {
    .uploadfile {
        margin-right: -50px;
    }

    ul.tabs {
        width: 70.8%;
    }

    .showmebox {
        padding-left: 60px!important;
    }

    #drop-area {
        width: 250px;
    }

}

@media only screen and (min-width : 601px) and (max-width : 700px) {
    .uploadfile {
        margin-right: -60px;
    }

    ul.tabs {
        width: 71.1%;
    }

    .uploadfile {
        margin-left: 130px!important;
        margin-top: -20px;
    }

    #drop-area {
        margin-left: -30px;
        width: 250px
    }

    .longlogo {
        width: 110%;
        margin-left: -70px;
        margin-top: 20px;
    }

    .aboutwhatthetext {
        margin-top: 40px;
    }
}

@media only screen and (max-width : 601px) and (min-width : 550px) {
    nav {
        height: 100px;
    }

    .aboutsite {
        margin-top: 10px;
    }

    ul.tabs {
        width: 103.2%;
    }

    .categorylogo {
        width: 200%;
    }

    .showmebox {
        padding-left: 20px!important;
        text-align: center;
    }

    .uploadfile {
        margin-left: 80px!important;
    }
}

@media only screen and (max-width : 600px) {

    ul.tabs {
        width: 104.3%;
    }

    .uploadfile {
        margin-right: 90px;
    }

    #drop-area {
        width: 190px;
        margin: 10px;
      }
}

@media only screen and (max-width : 550px) {
    .wrapper {
        width: 90%; } 

    nav {
        height: 90px;
    }

    .aboutsite {
        margin-top: 10px;
    }

    .uploadfile {
        margin-right: 70px;
    }

    .categorylogo {
        width: 200%;
    }

    .textcaption {
        padding: 0 1px 15px 1px!important;
    }

    .textcategoriesdiv {
        padding: 10px 1px 15px 30px!important;
    }

    .textuploadsubmit {
        margin-left: 110px!important;
    }

    .showmebox {
        padding-left: 10px!important;
        text-align: center;
    }

    #drop-area {
        width: 110px;
        margin: 10px;
      }
}

@media only screen and (max-width : 500px) {

    ul.tabs {
        width: 105%;
    }

    .uploadfile {
        margin-left: 80.5px!important;
    }
}

@media only screen and (max-width : 450px) {

    ul.tabs {
        width: 106%;
    }
}